# Dependencies
node_modules

# Next.js build output
.next
out

# Payload CMS
admin/dist

# Environment files
.env
.env.local
.env.local.example
.env.*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# Editors
.vscode
.idea
*.swp
*.swo